@using PagedList
@using PagedList.Mvc
@model IPagedList<TN.Models.Urunler>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_LayoutKul.cshtml";
}

@Html.Action("HeaderDesktop", "Home")
@Html.Action("HeaderMobile", "Home")

<div class="page-content--bgf7">
    <div class="main-content">
        @Html.Partial("Breadcrumb2")
        <div class="section__content--p35">
            <div class="container-fluid">
                <div class="row">
                    <div id="aside" class="col-md-3">
                        @Html.Action("Kategoriler")

                        @Html.Action("EnCokBakilanlar")
                    </div>
                    <div id="store" class="col-md-6">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4 col-xs-6" style="min-width:275px">
                                    <div class="product">
                                        <div class="product-img" style="height:250px;">
                                            <img src="@item.AnaGorsel.Resimler.ImageUrl" alt="">
                                            <div class="product-label">
                                                @if (item.UrunOlusturma.Month == DateTime.Today.Date.Month)
                                                {
                                                    <span class="new">Yeni</span>
                                                }

                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.Kategoriler.KategoriAdi</p>
                                            <h3 class="product-name"><a href="#">@item.Baslik</a></h3>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button onclick="location.href='@Url.Action("Detay","Home",new { id=item.UrunId})'" class="btn btn-default" style="float:left"><i class="fa fa-list"></i> Detay</button>
                                                ||
                                                <button class="btn btn-default" id="Button1"><i class="fa fa-try"></i> Teklif Ver</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="store-filter clearfix" style="float:right">
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        @Html.PagedListPager(Model, Page => Url.Action("KatGore", new { Page }), PagedListRenderOptions.Classic)
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("Footer", "Home")



@section scripts{
    @if (TempData["msg"] != null)
    {
        <script>
            $.alert({
                title: '',
                content: '@TempData["msg"]',
            });

        </script>
    }

    <script type="text/javascript">$(document).ready(function () { $('#Button1').click(function () { alert('Üzgünüz Üye Olmanız Gerekmekte..') }); });</script>
    <script type="text/javascript">$(document).ready(function () { $('#Button2').click(function () { alert('Üzgünüz Üye Olmanız Gerekmekte..') }); });</script>

}
