@model  IEnumerable<TN.Models.Urunler>



    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{int i = 0;}
            @foreach (var item in Model)
            {

                if (item.Yayın == true)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="item @active">
                        <div class="col-sm-3"style="min-width:275px">
                            <div class="product">
                                <div class="product-img" style="height:250px;">
                                    <img src="@item.AnaGorsel.Resimler.ImageUrl" alt="" >
                                    <div class="product-label">
                                        @if (item.UrunOlusturma.Month == DateTime.Today.Date.Month)
                                        {
                                            <span class="new">Yeni</span>
                                        }
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@item.Kategoriler.KategoriAdi</p>
                                    <h3 class="product-name"><a href="@Url.Action("DetayUrun","Kullanici",new { id=item.UrunId})">@item.Baslik</a></h3>

                                    <div class="product-rating">

                                    </div>
                                    <div class="product-btns">
                                        <button onclick="location.href='@Url.Action("DetayUrun","Kullanici",new { id=item.UrunId})'" class="btn btn-default" style="float:left"><i class="fa fa-list"></i> Detay</button>
                                        ||
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="@item.UrunId"><i class="fa fa-try"></i> Teklif Ver</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Teklifin Nedir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="hidden" id="recipient-name">
                <label class="col-form-label">Teklifiniz :</label>
                <input id="Tutar" name="Tutar" style="border-bottom-color:black" /><i class="fa fa-try"></i>
                <label id="errMsj" style="display:none;color:red;font-weight:bold">Teklif içeriği boş..</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-danger" id="Button1" onclick="return Tek()"><i class="fa fa-try"></i> Teklif Ver</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script>
        $('#exampleModalCenter').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-body input').val(recipient)
        })
    </script>


<script type="text/javascript">$(document).ready(function () { $('#Button1').click(function () { location.reload(); }); });</script>



}