@using TN.Models
@model IEnumerable<TN.Models.Kategoriler>


<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/yazi.png" alt="teklifiNedir">
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile" style="display: none;">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-barcode"></i>Kategoriler
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list" style="display: none;">
                        <li>
                            <a href="@Url.Action("Index","Urun")">Tüm Kategoriler</a>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="@Url.Action("KatGore","Urun",new { id=item.KategoriId})">@item.KategoriAdi</a>
                            </li>
                        }
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>
<div class="sub-header-mobile-2 d-block d-lg-none">
   
    <a href="@Url.Action("Login", "User")" class="btn btn-success" style="margin:5px"> <i class="fa fa-user"></i> Giriş</a> <a href="@Url.Action("UrunEkle","Post")" class="btn btn-primary" style="margin:5px"> <i class="fa fa-photo"></i> İlan Ver</a>
</div>