@model TN.Models.Urunler

@{
    ViewBag.Title = "Urun Duzenle";
    Layout = "~/Views/Shared/_LayoutKul.cshtml";
}

@Html.Action("HeaderMobile", "Kullanici")

@Html.Action("HeaderDesktop", "Kullanici")


<div class="page-content--bgf7">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container">
                <div class="au-card m-b-30">
                    <div class="col-md-9">
                        <div class="login-content">

                            @using (Html.BeginForm("UrunDuzenle", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.EditorFor(m => m.UrunId, new { htmlAttributes = new { @hidden = "hidden" } })
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Baslik, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(m => m.Baslik, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", required=string.Empty} })
                                        @Html.ValidationMessageFor(m => m.Baslik, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Kategori :", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.DropDownList("KategoriId", null, new { @class = "form-control",required=string.Empty })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AltLimit, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(m => m.AltLimit, new { htmlAttributes = new { @class = "form-control", @maxlength = "5" ,required=string.Empty} })
                                        @Html.ValidationMessageFor(m => m.AltLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Aciklama, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control", @rows = 3 , @maxlength = "300", required=string.Empty})
                                        @Html.ValidationMessageFor(m => m.Aciklama, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Durum", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.DropDownList("DurumId", null, "-- Seçiniz --", htmlAttributes: new { @class = "form-control " , required=string.Empty})
                                        @Html.HiddenFor(m => m.GorselId)
                                        @Html.HiddenFor(m => m.UrunOlusturma)
                                        @Html.HiddenFor(m=>m.Bakilma)

                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Yayın, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Yayın)
                                            @Html.ValidationMessageFor(model => model.Yayın, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-lg-offset-1">
                                        <input type="submit" class="btn btn-md btn-success" value="İlerle" />

                                        @*<a class="btn btn-xs btn-default" href="@Url.Action("ResimDuzenle", "Post")" style="float:right">Resim Düzenle</a>*@
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
@if (TempData["msg"] != null) { <script>$.alert({title:'',content:'@TempData["msg"]',});</script> }

}