@model IEnumerable<TN.Models.User>

@{
    ViewBag.Title = "Kullanicilar";
 Layout = "~/Views/Shared/_LayoutKul.cshtml";
}
@Html.Action("Mobile", "Admin")

@Html.Action("Desktop", "Admin")

<div class="page-content--bgf7">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="table-responsive table-responsive-data2">

                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FullName)</th>
                                        <th>@Html.DisplayNameFor(model => model.EmailID)</th>
                                        <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                                        <th>@Html.DisplayNameFor(model => model.UyelikBaslangic)</th>
                                        <th>@Html.DisplayNameFor(model => model.Sozlesme)</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tr-shadow">
                                            <td>@item.FullName</td>
                                            <td>@item.EmailID</td>
                                            <td>@item.DateOfBirth</td>
                                            <td>@item.UyelikBaslangic</td>
                                            <td>@item.Sozlesme</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Detay" href="@Url.Action("Detay","Post",new { id = item.UserID })">
                                                        <i class="zmdi zmdi-mail-send"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Düzenle" href="@Url.Action("UrunDuzenle","Post",new { id= item.UserID })">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <button class="item Sil" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" data-target="#exampleModal" name="@item.UserID ">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(".Sil").click(function () {
            var ID = $(this).attr('name');
            var delTR = $(this).closest("tr");
            $.confirm({
                title: 'Silme İşlemi !',
                content: 'Silmek istediğinizden emin misiniz ?',
                type: 'red',
                typeAnimated: true,
                buttons: {
                    tryAgain: {
                        text: 'Sil',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: '/Admin/KullaniciSil/' + ID,
                                type: 'POST',
                                dataType: 'json',
                                success: function (result) {
                                    if (result == "1") {
                                        delTR.fadeOut(500, function () {
                                            delTR.remove();
                                        });

                                    }
                                    else {
                                        alert("İşlem sırasında hata oluştu");
                                    }
                                }
                            });
                        }
                    },
                    Vazgeç: function () {
                        $.alert('İşlemden vazgeçildi..');
                    }
                }
            });
        });
    </script>
}
